.status-menu {
  transform: translateY(-10px);
  opacity: 0;

  .top-arrow-up {
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
  }

  &.status-menu-show {
    transform: translateY(0);
    opacity: 1;
  }

  &.status-menu-leave {
    transform: translateY(-10px);
    opacity: 0;
  }
}
